Debug/
Release/
x64/
x86/
Bin/
Obj/
ipch/
*.pch
*.obj
*.exe
*.dll
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.cache
*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.class
*.lib
*.exp
!includes/*
!libs/*
!dll/*